<header class="p-3 text-bg-dark justify-content-center">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-3">
                <a href="/home" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="assets/img/logo.png" alt="Imagen Presentacion">                    
                </a>
            </div>
            <div class="col">
                <a href="/home" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <div class="col-md-10 align-self-center">
                        <h1 class="text-center">
                            Curso de Angular
                        </h1>
                        <h4 class="text-center">Practica Final.</h4>
                    </div>
                </a>
            </div>                                
            <div class="col-md-2 align-self-center">
                
            </div>
        </div>
    </div>
</header>